<ngx-datatable
  [rows]="rows"
  [columnMode]="ColumnMode.flex"
  [virtualization]="true"
  [limit]="limit"
  [headerHeight]="40"
  [footerHeight]="50"
  rowHeight="auto"
  class="material BooksTable"
>
  <ngx-datatable-column name="Cover" [flexGrow]="2">
    <ng-template let-column="column" ngx-datatable-header-template></ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <img
        [src]="row.volumeInfo.imageLinks && row.volumeInfo.imageLinks.thumbnail"
        [alt]="row.volumeInfo.title + ' cover'"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Title" [flexGrow]="2">
    <ng-template let-column="column" ngx-datatable-header-template>
      <span>{{ column.name }}</span>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div class="text-center align-middle">
        <i>{{ row.volumeInfo.title }}</i>
        <p class="font-weight-bold">by</p>
        <span class="font-weight-light">{{ row.volumeInfo.authors && row.volumeInfo.authors[0] }}</span>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Description" [flexGrow]="6">
    <ng-template let-column="column" ngx-datatable-header-template>
      <span>{{ column.name }}</span>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <p class="BooksTable-descriptionCell">{{ row.volumeInfo.description }}</p>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="ActionButtons" [flexGrow]="1">
    <ng-template let-column="column" ngx-datatable-header-template> </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button mat-icon-button matTooltip="Add to bookshelf" matTooltipHideDelay="500" (click)="addClick.emit(row)">
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
